body {
    margin: 0;
    padding: 0;
    background-color: #007AFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: monospace;
    font-size: larger;
    color: white;
}

h1 {
    margin-top: 20px;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}

.container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
    align-items: center;
}

#game-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 120px);
    grid-template-rows: repeat(6, 120px);
    gap: 15px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    
}
.card {
    width: 120px;
    height: 120px;
    background: #E5E5E5;
    border-radius: 12px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}
.card:hover {
    transform: scale(1.05);
}

.startMain {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#timer {
    margin-top: 40px;
}

#startbtn {
    width: 130px;
    height: 45px;
    border-radius: 25px;
    border: none;
    font-weight: 600;
    font-size: 16px;
    margin-top: 30px;
    cursor: pointer;
    background-color: #00CFFF;
    transition: 0.3s;
}

#startbtn:hover {
    background-color: #57deff;
    transform: scale(1.07);
}

.matched {
    border: 3px solid #fff;
}
