body{
    padding: 0;
    margin: 0;
    background-color: blanchedalmond;
    font-family: monospace;
}
fieldset{   
    text-align: center;
    padding: 10%;
    border-radius: 10px;
    font-weight: 600;
    padding: 13vw;
    margin-left: 20%;
    margin-right: 20%;
    background-color: aliceblue;
}
.container{
    display: flex;
    flex-direction: column;
}
#input{
    margin-top: 20px ;
    border-radius:10px;
    height: 25px;
}
#button{
    background-color: antiquewhite;
    margin-top: 10px;
    width: 70px;
    height: 30px;
    border-radius: 20px;

}
#result{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}